* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: #7ea0b2;
    background: linear-gradient(180deg, #7ea0b2 0%, #393c41 40%);
    overflow: hidden;
}

.loader {
    position: relative;    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.741);
    transition: opacity .5s, visibility .4s;
    z-index: 10000;
}
.loader-gif {
    position:relative;
    width: 600px;
    height: 300px;
}
.striker {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 300px;
}
.echo {
    position: absolute;
    top: 0;
    left: 0;
    width: 610px;
    height: 310px;
    border-radius: 40%;
    outline-style: solid;
    z-index: -1;
    opacity: .65;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.wrapper {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    /* object-fit: contain; */
    /* transform: translate(50%, 50%); */
}

.wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* transform: translate(-50%, -50%); */
}

#B1 {
    position: absolute;
    z-index: 10;
}

#B2 {
    position: absolute;
    z-index: 9;
}

#B3 {
    position: absolute;
    z-index: 7;
}

#B4 {
    position: absolute;
    z-index: 4;
}

#B5 {
    position: absolute;
    z-index: 7;
    /* transform: translate(-50%, -50%); */
}

#B6 {
    z-index: 6;
    position: absolute;
    /* transform: translate(-50%, -50%); */
}

#Sky {
    position: absolute;
    z-index: 5;
    /* transform: translate(-50%, -50%); */
    
}

#Sea {
    position: absolute;
    z-index: 0;
    /* transform: translate(-50%, -50%); */
    /* transform: scale(1.025); */
}